*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: url(images/cafebg.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;/* for vertically centre*/
    align-items: center;/* for horizotally centre*/
    
   

}

.banner h1{
 color:white;
 font-size: 70px ;

}

.banner h2{
    color: rgb(255, 230, 184);
    font-size:25px ;
}

.banner p{
    color:whitesmoke;
    font-weight: 600;
    font-size: 20px;
    text-align: center;

}
.logo_cafe img {
    height:200px ;
    width: 200px;
    /* justify-content: center ; */
}

.nav_bar{display: flex;
    background-color: black;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    overflow-x: auto;


      }

.nav_bar a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .3px;
    font-weight: 700;
    color: aliceblue;
    display: inline-block;
    

}

.container{
    max-width: 1200px;
    margin: 0px auto;
  }
  
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

/* .about_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#introduction{

    margin: 60px;


} */

.about ,.outseating ,.roofcafe,.wificafe,.contactus{

     color: brown;
     font-size: 25px;
     text-align: center;
     
     
   
}

/* .image{
    width: 50%;
    min-width: 300px;
}
.image img{
    width: 600px;
    min-width: 300px;
    padding: 40px;
    border-radius: 20px;
    
}

 .content{
    width: 35%;
    min-width: 300px;
    margin: 20px;
 } */

 .underline::after{
    content: "";
  display: block ;
  margin: 0px auto;/*bring in centre display block content*/
  width: 5%;
  height: 3px;
  background-color: brown;
 }
 


/* .outdoor_content,.wifi_content{
    display: flex;
    margin:20px;
    justify-content: center;
    align-items: center;
}

.outimage img ,.rooftimage {
    width: 600px;
    padding: 40px;
    height: 300px;
    object-fit: cover; 
    border-radius: 20px;
    
}

.outdoorcafes,.roofcafes{
    width: 600px;
    padding: 40px;
}

#contact{ */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* width: 100%;
    height: 60vh; */
    /* background-image: url(images/cafebg.jpg);
    background-size: cover;
    background-attachment: fixed; */


/* #contact input,textarea{
    width: 90%;
    padding: 10px;
    outline: none;
    border: none;
    background-color: rgb(255, 252, 252);
    box-shadow: 2px 2px 5px rgb(198, 198, 198),2px 2px 5px white;
    border-radius: 10px;
    font-size: 18px;
    

}

.contact_content{
    border: 2px solid gray;
    padding: 10px;
    width: 45%;
}

.contactaddress{
    width: 45%;
    padding: 40px;
    

}

.outdoorcafes a ,.rooftopcafe a ,.wifilist a {
    text-decoration: none;
    font-family:cursive;
    color:rgba(174, 15, 15, 0.637);
    font-weight: 700;
    font-size: 18px;
    
    

}

.rooftop_content{

    display: flex;
    margin:114px;
    margin-top: 60px;

}

.rooftopcafe {
    margin-left: 140px;
}

.wifi_image img{
    width: 600px;
    padding: 40px;
    
   
   
   object-fit: cover;
}

.wifi_content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 300px;
    margin-left: -90px ;

}


.wifi_image{
   align-items:self-start;
}

.contactinfo{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 60px;
    background: linear-gradient(90deg, rgba(234,208,251,1) 0%, rgba(250,198,132,0.5943627450980392) 50%, rgba(245,205,148,1) 100%);
} */

.col2 img ,.col1 img {
    width: 400px;
    min-width: 300px;
    height: 300px;
    object-fit: cover;

}

.col2{
    margin-left: 200px;


}

#introduction ,#rooftop,#outdoor ,#wifi{
    padding: 50px 0px;
}

.about {
    margin-bottom: 60px;
}

.col2 a{
    text-decoration: none;
    font-family:cursive;
    color:rgba(174, 15, 15, 0.637);
    font-weight: 700;
    font-size: 18px;
}

#introduction .col1 p{
    font-size: 15px;


}

.logo img{
width: 10px !important;
}

.col1{
    width:45%;

}
.col2{
    width: 45%;
}

#contact input,textarea{
    width: 90%;
    padding: 10px;
    outline: none;
    border: none;
    /* background-color: rgb(255, 252, 252);
    box-shadow: 2px 2px 5px rgb(198, 198, 198),2px 2px 5px white; */
    border-radius: 50px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  3px 3px 3px #d9d9d9,
                 -3px -3px 3px #ffffff;
    border-radius: 10px;
    font-size: 18px;
    

}

footer{
    margin-top: 30px;
    padding: 50px 0px;
    background: rgb(102, 102, 102);
    color: white;
  }
  
  li{
    list-style: none;
    cursor: pointer;
    line-height: 2;
  }

footer img{

    width: 130px;
    border-radius: 20px;

}

button {
    background-color: rgb(255, 0, 119);
    padding: 5px 20px;
    font-size: 15px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    border: none;
  }

  @media (max-width: 720px){
    .row{
        flex-wrap: wrap;
    }
    .col1,.col2,.col{ width: 100%;
      
        margin: 20px ;
        text-align: center;

    }

    .col2 img ,.col1 img {
        display: block;
        margin: 0px auto;
        width:500px;
        min-width: 500px;
        height: 300px;
        object-fit: cover;
    
    }
    
  .nav_bar{
    flex-direction: column;
  }

footer{
    text-align: center;
}

#contact input,textarea{
    width: 70%;
}

  }



  @media (max-width: 400px){
    .row{
        flex-wrap: wrap;
    }
    .col1,.col2,.col{ width: 100%;
        margin: 20px;

    }

    .col2 img ,.col1 img {
        width:350px;
        min-width: 300px;
        height: 300px;
        object-fit: cover;
    }
  .nav_bar{
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* overflow-y: scroll; */

  }

footer{
    text-align: center;
}

.banner h1{
    font-size: 35px;
}

.banner h2{
    font-size: 18px;
}
.banner{
    height: 80vh;
}

  }



  footer a{
    text-decoration: none;
    color: #ffffff;
  }

  